@import url('marquee.css');
@import url('dtree.css');
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: black;
}
header {
    background: blue;
    color: white;
    height: 80px;
    line-height: 70px;
    padding: 5px 150px;
}
header > a > * {
    display: inline-block;
    vertical-align: middle;
}
header > a > img {
    height: 60px;
}
header > a > h1 {
    margin-left: 30px;
    font-size: 36px;
    color: black;
}
.message > #marquee {
    display: block;
}
.nomessage > #marquee {
    display: none;
}
#menu {
    position: absolute;
    top: 130px;
    left: 0;
    bottom: 0;
    width: 298px;
    background: #FFFFCC;
    border-right: 2px red solid;
}
.message > #menu {
    top: 130px;
}
.nomessage > #menu {
    top: 80px;
}
#menu > div > .dTreeNode {
    font-size: 14px;
    background: #ccffcc;
    padding: 10px;
}
#menu > div > .dTreeNode > img {
    display: none;
}
.dTreeNode > img,
.dTreeNode > a > img {
    width: 18px;
}
.dTreeNode {
    font-size: 20px;
}
main {
    background: #6666CC;
    position: absolute;
    right: 0;
    left: 300px;
    bottom: 0;
    top: 130px;
    width: calc(100% - 300px);
    min-height: calc(100% - 130px);
    overflow-y: auto;
}
.message > main {
    top: 130px;
}
.nomessage > main {
    top: 80px;
}
.removed {
    -webkit-animation: disapear 1s;
    animation: disapear 1s;
}
table {
    margin: 0 0 10px 0;
    padding: 0px;
    text-align: center;
    /*width: 100%;*/

    /*border: 1px solid #000000;*/
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
}
table a {
    color: #565656;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 20px;
    padding: 0px;
}
/*table tr:first-child td:first-child {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
}*/
/*table tr:first-child td:last-child {
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}*/
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*table table tr:first-child th:hover {
    background-color: #FFFFFF;
}*/

table tr:nth-child(odd) {
    background-color: #ffffff;
    background-color: #aad4ff;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
table tr:nth-child(odd):hover {
    background-color: #cccccc;
    background-color: #88AACC;
}
table tr:nth-child(even):hover {
    background-color: #cccccc;
}
/*table tr > td:nth-child(1) {
    width: 74%;
    line-height: 20px;
}
table tr > td:nth-child(2) {
    width: 14%;
    text-align: center;
}
table tr > td:nth-child(3) {
    width: 12%;
    text-align: center;
}*/
table td {
    vertical-align: middle;
    /*border: 1px solid #000000;*/
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 5px 0;
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}
table td:first-child {
    padding-left: 20px;
}
table td:last-child {
    padding-right: 20px;
}
table tr:last-child td {
    border-width: 0px 1px 0px 0px;
}
table tr td:last-child {
    border-width: 0px 0px 1px 0px;
}
table tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}
table tr th {
    background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
    background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #005fbf, 003f7f);
    background-color: #005fbf;
    border: 0px solid #000000;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}
table tr:hover th {
    background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
    background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #005fbf, 003f7f);
    background-color: #005fbf;
}
table tr:first-child th:first-child {
    border-width: 0px 0px 1px 0px;
}
table tr:first-child th:last-child {
    border-width: 0px 0px 1px 1px;
}
table tr th.header {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center right;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
    background-image: url(../images/table_nomal.gif);
}
table tr th.headerSortUp {
    background-image: url(../images/table_asc.gif);
}
table tr th.headerSortDown {
    background-image: url(../images/table_desc.gif);
}