ul.marquee {
	/* required styles */
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;
	/* optional styles for appearance */
	width: 100%;
	height: 50px; /* height should be included to reserve visual space for the marquee */
	clear: left;/* Firefox 顯示會從中間開始 */
	/*background-color: #f2f2ff;*/
	/*border: 1px solid #08084d;*/
    background: black;
    color: rgb(0, 255, 0);
}

ul.marquee li {
	/* required styles */
	position: absolute;
	display: block;
	top: -999em;/*隱藏起來*/
	left: 0;
	white-space: nowrap; /* keep all text on a single line */

	/* optional styles for appearance */
	font: normal 36px 'sourcehansans-tc', Arial, Helvetica, sans-serif ;
	padding: 5px 0px;
}
ul.marquee li h3{
	white-space: nowrap; /* keep all text on a single line */

	/* optional styles for appearance */
	font: normal 36px 'sourcehansans-tc', Arial, Helvetica, sans-serif ;
	padding: 0px 0px;
}