{% extends 'base.htm' %}
{% block main %}
    <button type="button">增加</button>
    <table>
        <caption>公告(嗨)</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>message</th>
                <th>start time</th>
                <th>end time</th>
            </tr>
        </thead>
        <tbody>
        {% for announcement in announcements %}
            <tr>
                <td>{{ announcement.id }}</td>
                <td>{{ announcement.message }}</td>
                <td>{{ announcement.start_time }}</td>
                <td>{{ announcement.end_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
